{% extends "base.html" %}

{% block title %}Страница с формой и списком
{% endblock %}

{% block content %}
<style>

    .list {
        width: 60%; /* Увеличен размер списка */
        border-right: 1px solid #444;
        padding-right: 20px;
        background-color: #1e1e1e;
        border-radius: 5px;
    }

    .form {
        width: 40%; /* Увеличен размер формы */
        padding-left: 20px;
        background-color: #1e1e1e;
        border-radius: 5px;
    }

    h2 {
        text-align: center;
        color: #ffffff;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        background-color: #333333;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    li:hover {
        background-color: #444444;
    }

    label {
        font-weight: bold;
        color: #ffffff;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px;
        border: 1px solid #444;
        border-radius: 4px;
        background-color: #222222;
        color: #ffffff;
        size: 10px;
    }

    input[type="submit"] {
        background-color: #6200ea;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #3700b3;
    }
</style>
<div class="list">
    <h2>Список</h2>
    <ul>
        {% for lobby in lobbies %}
            <li>{{ lobby.game_name }}</li>  <!-- Отображаем имя лобби -->
        {% empty %}
            <li>Нет доступных лобби.</li>  <!-- Сообщение, если лобби отсутствуют -->
        {% endfor %}
    </ul>
</div>
<div class="form">
    {% csrf_token %}
    <form action="{% url 'gameengine:create_game' %}" method="post">
        <p>Создать игру</p>
        <label for="name">Название игры:</label><br>
            <input type="text" id="game_name" name="game_name" required><br>
        <label for="count">Кол-во игроков (от 6 до 12):</label><br>
            <input type="number" id="user_count" name="user_count" min="6" max="12" required><br>
        <input type="submit" value="Отправить">
    </form>
</div>
{% endblock %}
